@model SmallGroupsSite.Views.Groups.GroupDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
    </dl>
</div>

<div>
    <table>
        <thead>
        <tr><td><h2>Leaders</h2></td></tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input class="input-sm add-person" placeholder="Add Leader"/>
            </td>
        </tr>
        @foreach (Person p in Model.Group.GroupMemberships
            .Where(gm => gm.MembershipType == MembershipType.Leader)
            .Select(gm => gm.Person))
        {
            <tr>
                <td>
                    @p.FullName
                </td>
            </tr>
        }
        </tbody>
    </table>
    <table>
        <thead>
        <tr><td><h2>Members</h2></td></tr>
        </thead>
        <tbody>
        @foreach (Person p in Model.Group.GroupMemberships
            .Where(gm => gm.MembershipType == MembershipType.Member)
            .Select(gm => gm.Person))
        {
            <tr>
                <td>
                    @p.FullName
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Group.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
